@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
header,
.container{
    max-width: 1160px;
    margin: 0 auto;
}
marquee{
    border: 1px solid orangered;
    padding: 10px;
    color: #01ACFD;
    font-size: 2rem;
}
/* share styel */
/* color */
.text-black{
    color: black;
}
.text-orange{
    color: orange;
}
.text-sky{
    color: rgba(1, 172, 253, 1);
}
.text-color-three{
    color: #rgba(1, 172, 253, 1);
}
.text-color-four{
    color: #5D58EF;
}
.our-story-btn{
    padding: 15px 19px;
    border: none;
    border-radius: 48px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    top: -28px;
    margin-left: 38px;
   
}
/* share styel  end*/

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* navbar style start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 186px; */
    margin: 20px 0px;
}
.logo-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.logo-img{
    width: 62px;
}
.logo-img img{
    width: 100%;
}
.brand-name{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}
.nav-items{
    display: flex;
    gap: 32px;
}
.nav-item{
 list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;

}
.button{

}
.btn{
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
}
.hamburgar{
    font-size: 1.25rem;
    display: none;
}
.hr{
    border-top: 1px solid orange;
    display: none;
}
/* navbar style end */

/* banner style start */
.banner{
    margin: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}
.empowering-part{
    max-width: 640px;
    margin-right: 50px;

}
.empowering-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: black;
    margin-bottom: 24px;
}
.empowring-description{
    font-size: 1.25rem;
    margin-bottom: 24px;

}
.btn2{
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
    background-color: black;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
}
.banner-img{
    
}
.banner-img img{
    /* width: 100%; */
}
/* banner style end */

/* curriculum stylr start */
.curriculum{
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    
}
.curriculum-title{
    padding-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #000000;
}
.curriculum-card{
    display: flex;
    justify-content: space-between;
}
.card{
    max-width: 367px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 80px;
}
.card-1{
    background: linear-gradient(180deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
}
.card-2{
    background: linear-gradient(180deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
}
.card-3{
    background: linear-gradient(180deg,rgba(238, 225, 255, 1) , rgba(255, 255, 255, 0));
}
.card-img{
    margin-top: 52px;
    margin-bottom: 32px;
}
/* .card-img img{
    width: 100%;
} */
 .card-title{
    font-size: 1.5rem;
    font-weight: 700px;
    color: #202020;
    margin-bottom: 33px;
 }
 .card-description{
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    line-height: 1.75rem;
    margin: 0 0px 32px 0px;
 }
 .primary-btn{
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    margin-bottom: 58px;
    border: none;
 }
 .card-btn1{
    color: #64C8FF;
 }
 .card-btn2{
    color: #F0AA00;
 }
 .card-btn3{
    color: #8700FF;
 }
.icon-part{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.icon{
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color: orange;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
/* curriculum stylr end */

/* our stories style start */
.our-stories{
    background-image:url(/assets/bg.png), linear-gradient(360deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3)) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{

}
.our-stories-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}
.our-stories-card-items{
    display: grid;
    grid-template-columns: 540px 290px 290px;
    grid-template-rows: repeat(2, 330px);
    gap: 19px;
}
.our-stories-item{
    grid-row: 1/-1;
    background-color: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
}
.our-stories-img img{
    width: 100%;
}
.story1-btn{
    background-color: #3CD8E8;
    /* margin-bottom: 33px; */
}
.our-story-heading{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: #000000;
    margin: 0 99px 0px 38px;
}
.our-story-description{
    font-size: 0.9rem;
    font-weight: 500;
    color: #666666;
    line-height: 1.7rem;
    margin: 47px 68px 34px 38px;
}
.story-card1{
    background-color: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;

}
.story-img{

}
.story-img img{
    width: 100%;
}
.story2-btn{
    background-color: #95B226;
    
}
.story3-btn{
    background-color: #5D58F0;
    
}
.story4-btn{
    background-color: #95B226;
    
}
.story5-btn{
    background-color: #95B226;
    
}
.story-description{
    margin: 19px 38px 28px 38px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #000000;
    line-height: 1.7rem;
}
.button1{
    text-align: center;
}
.view-btn{
    padding: 10px 61px;
    background-color: black;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 60px;
    
}

/* our stories style end*/

/* footer style start */

.footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #01ACFD;
    
}
.footer-content{
    display: flex;
    padding: 123px 0px 174px 0px;
}
.kids-education{
    margin-right: 172px;
}
.kids-img{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 82px;
}

.kids-img img{
    width: 100%;
}
.kids-title{
    color: #FFFFFF;
    font-size: 2.6rem;
    font-weight: 700;
}
.kids-description{
    margin-top: 35px;
    font-size: 1.25rem;
    color: #FFFFFF;
}
.about-heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.about-school{
    margin-right: 143px;
}
.about-nav-items{

}
.about-item{
    list-style: none;
    margin-top: 20px;
}
.about-nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
}
.keep-title{
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.keep-img{
    display: flex;
    gap: 10px;
}
/* footer style end */

/* responsive style */

@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    }
    .nav-items{
        gap: 10px;
    }
    .banner-img img{
        width: 100%;
    }
    .navbar{
        gap: 10px;
    }
    .brand-name{
        display: none;
    }
    .nav-items{
        display: none;
    }
    .hamburgar{
        display: block;
    }
    .button{
        display: none;
    }
    .hr{
        display: block;
    }
    .navbar, .banner{
        text-align: center;
        margin: 15px;
    }
    
    .empowering-part{
        margin: 15px;
    }
    .curriculum-title{
        margin-bottom: 0;
    }
    .curriculum-card{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        /* margin: 20px 16px; */
    }
    .card{
        margin: 20px auto;
    }

    .curriculum-card{

    }
    .icon-part{
        display: none;
    }
    .our-stories-card-items{
       grid-template-columns: 1fr 1fr;
      margin: 0 16px;
    }
    .our-stories-item{
        display: none;
    }
    .our-story-btn{
        padding: 5px 11px;
        border-radius: 28px;
        font-size: 0.5rem;
        font-weight: 500;
        position: relative;
        top: -16px;
        margin-left: 22px;
       
    }
    .footer-content{
        flex-direction: column;
        margin-left: 20px;
    }
    .about-school,
    .keep-in-tech{
        margin-top: 32px;
    }

}